<div class='recipe_show'>
	<table class="recipe_table">
		<% @recipes.each do |r| %>
			<tr>
				<td>
				<%= link_to r['f2f_url'] do %>
					<%= image_tag "#{r['image_url']}", :width => "100", :height => "100", class: "image_tag" %>
				<% end %>
				</td>
				<td><%= r['title'] %></td>
				<td><%= r['social_rank'].round(3) %></td>
			</tr>
		<% end %>
	</table>
</div>